{% if site.flickr_user %}
<section class="well">
  <ul id="tweets" class="nav">
    <li class="nav-header">Flickr</li>
  </ul>
  <style type="text/css">
	#flickr_badge_wrapper {padding:0 0 0 0;}
	.flickr_badge_image {margin: 0 1px 1px 0px;display: inline-block;}
  </style>
  <div id="flickr_badge_wrapper">
  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count={{site.flickr_count}}&display=random&size=s&layout=x&source=user&user={{site.flickr_user}}" ></script>
  </div>
</section>
{% endif %}
